*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



.header{
    /* height: 70px; */
    box-shadow: 0px 0px 5px 5px gray;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 10px;
    color: rgb(87, 144, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
 width: 100%;

}

.main__enunciado{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    
    
}

.enunciado__titulo{
    /* background-color: violet; */
    font-size: 25px;
    color: rgb(37, 60, 88);
    padding: 0px 0px 15px 0px;
}

.enunciado__parrafo{
    /* background-color: tomato; */
    font-size: 15px;
    color: rgb(37, 60, 88);
    padding: 0px 0px 15px 0px;
    
}

.enunciado__iconos{
    width: 70%;
    display: flex;
    justify-content: space-around;
    /* background-color: yellow; */
    font-size: 20px;
    
}

.main__imagen{
    
    /* background-color: green; */
    display: flex;
    justify-content: center;
}

.footer{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
}

.footer__opcion1{
    width: 50%;
    background-color: rgb( 190, 225, 230);
    color: rgb( 37, 60, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.footer__opcion2{
    width: 50%;
    background-color: rgb( 37, 60, 87);
    color: rgb( 190, 225, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

